@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 2px solid rgba(255, 255, 255, 0.217);
}

* {
  /* Keyword values */
  overscroll-behavior: auto; /* default */
  overscroll-behavior: contain;
  overscroll-behavior: none;

  /* Two values */
  overscroll-behavior: auto contain;

  /* Global values */
  overscroll-behavior: inherit;
  overscroll-behavior: initial;
  overscroll-behavior: revert;
  overscroll-behavior: revert-layer;
  overscroll-behavior: unset;

  overscroll-behavior-y: contain;
}

::-webkit-scrollbar {
  width: 0px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #262626;
  height: 2px;
}

/*Shimmer effect*/
@keyframes shimmer {
  0% {
    background-position: -40rem 0;
  }
  100% {
    background-position: 40rem 0;
  }
}

.animate-shimmer {
  background: linear-gradient(90deg, #2d2d2d 25%, #393939 50%, #2d2d2d 75%);
  background-size: 80rem 100%;
  animation: shimmer 1.5s infinite;
}
